@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="uuid" name="编码（UUID）" value="${item.uuid}" underline="true"/>
                            <#input id="djxh" name="登记序号（金三唯一标识纳税人）" value="${item.djxh}" underline="true"/>
                            <#input id="nsrsbh" name="纳税人识别号（或统一社会信用代码）" value="${item.nsrsbh}" underline="true"/>
                            <#input id="wiuNm" name="取用水户全称" value="${item.wiuNm}" underline="true"/>
                            <#input id="lrNm" name="责任人姓名" value="${item.lrNm}" underline="true"/>
                            <#input id="lawAtt" name="取用水户性质" value="${item.lawAtt}" underline="true"/>
                            <#input id="userTp" name="取用水户类型" value="${item.userTp}" underline="true"/>
                            <#input id="tradTp" name="行业类别" value="${item.tradTp}" underline="true"/>
                            <#input id="isHiLev" name="是否为高耗水行业" value="${item.isHiLev}" underline="true"/>
                            <#input id="ecoTp" name="经济类型" value="${item.ecoTp}" underline="true"/>
                            <#input id="monG" name="监控级别" value="${item.monG}" underline="true"/>
                            <#input id="wiuTp" name="取用类别" value="${item.wiuTp}" underline="true"/>
                            <#input id="yrWu" name="取水规模(万m3)" value="${item.yrWu}" underline="true"/>
                            <#input id="certSta" name="办证状态" value="${item.certSta}" underline="true"/>
                            <#input id="isVimp" name="是否重点监控取用水户" value="${item.isVimp}" />
                </div>

                <div class="col-sm-6">
                            <#input id="adlCd" name="归属行政层级代码" value="${item.adlCd}" underline="true"/>
                            <#input id="sljgCd" name="取水所在属地水利机关" value="${item.sljgCd}" underline="true"/>
                            <#input id="swjgCd" name="取水所在属地税务机关" value="${item.swjgCd}" underline="true"/>
                            <#input id="web" name="网址" value="${item.web}" underline="true"/>
                            <#input id="eMail" name="邮箱" value="${item.eMail}" underline="true"/>
                            <#input id="addr" name="地址" value="${item.addr}" underline="true"/>
                            <#input id="zip" name="邮政编码" value="${item.zip}" underline="true"/>
                            <#input id="tel" name="办公室电话" value="${item.tel}" underline="true"/>
                            <#input id="fax" name="传真号码" value="${item.fax}" underline="true"/>
                            <#input id="isuse" name="在用状态" value="${item.isuse}" underline="true"/>
                            <#input id="runSta" name="营业状态" value="${item.runSta}" underline="true"/>
                            <!--<#input id="ts" name="时间戳" value="${item.ts}" underline="true"/>-->
                            <#input id="lgtd" name="经度" value="${item.lgtd}" underline="true"/>
                            <#input id="lttd" name="纬度" value="${item.lttd}" underline="true"/>
                            <#input id="nt" name="备注" value="${item.nt}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="WrWiuBInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="WrWiuBInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/szys/wrWiuB/wrWiuB_info.js"></script>
@}
